/* Réinitialisation des styles par défaut pour assurer la cohérence entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Style du header */


/* Assurez-vous que le contenu principal ne chevauche pas le header */
main {
    padding-top: 60px; /* Ajustez cette valeur à la hauteur de votre header */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-image: url('background.jpg'); /* Mettez ici le chemin vers votre image */
    background-size: cover; /* Assure que l'image de fond couvre toute la zone */
    background-position: center; /* Centrer l'image de fond */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    color: #333; /* Assure que le texte reste lisible sur l'image de fond */
}

/* Style des articles du blog */
.blog-post article {
    background-color: rgba(255, 255, 255, 0.8); /* Blanc semi-transparent */
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px; /* Ajoute des coins arrondis pour un look moderne */
}

.blog-post h2 {
    color: #333;
    margin-bottom: 20px;
}

.blog-post h3 {
    margin-top: 0;
}

.blog-post p {
    margin: 20px 0;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.blog-post small {
    display: block;
    margin-top: 10px;
    color: #666;
}

/* Améliorations pour la responsivité */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    main {
        padding: 15px;
    }
}
